<div class="form-container background">
    <form (ngSubmit)="onRegister()" #registerForm="ngForm" class="bg-white p-4 rounded shadow-sm" style="width: 100%; max-width: 400px;">
        <h2 class="text-center mb-4">Register</h2>
        <div class="form-group mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" class="form-control" required [(ngModel)]="registerUser.name" name="name" #name="ngModel" placeholder="Enter your name">
        </div>
        <div class="form-group mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" required [(ngModel)]="registerUser.email" name="email" #email="ngModel" placeholder="Enter your email">
        </div>
        <div class="form-group mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" required [(ngModel)]="registerUser.password" name="password" #password="ngModel" placeholder="Enter your password">
        </div>
        <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
            {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
            {{ errorMessage }}
        </div>
        <button type="submit" class="btn btn-primary w-100" [disabled]="!registerForm.form.valid">Register</button>
    </form>
</div>

<style>
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Hauteur de l'écran */
        background-image: url('https://via.placeholder.com/1920x1080'); /* Image en arrière-plan */
        background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'écran */
        background-position: center; /* Centre l'image */
    }
    .background {
        background-image: url('https://img.freepik.com/photos-gratuite/gros-plan-montre_53876-32028.jpg?t=st=1734353268~exp=1734356868~hmac=66d7897ff1890ed2a962f95df75805fc8e3a74b0649783960ff480a899d7269a&w=1800');
      background-size: cover;
      background-position: center;
      height: calc(100vh - 56px);
    }
  .background::before {
      content: '';
      position: absolute;
      width: 100%;
      height: calc(100vh - 56px);
      background-color: rgba(255, 255, 255, 0.3); /* Adjust the alpha value for transparency */
      z-index: 1; /* Ensure the overlay is behind the content */
  }
  .background > * {
      position: relative;
      z-index: 2; /* Ensure the content is above the overlay */
  }
</style>