<div>
    <button (click)="onClickReloadDTO()" class="btn btn-small btn-outline-info">Load Learning Packages DTO</button>
    <ul>
        <li *ngFor="let package of packagesDTO">
            id: {{ package.id }}<br/>
            Name: {{ package.name }}<br/>
            Description: {{ package.description }}<br/>
            Category: {{ package.category }}<br/>
            Target Audience: {{ package.targetAudience }}<br/>
            Difficulty Level: {{ package.difficultyLevel }}<br/>
            <button (click)="onClickReloadFactDTO(package.id)" class="btn btn-small btn-outline-info">Load Learning Facts DTO</button>
            <button (click)="onClickDeployFormPut()" class="btn btn-small btn-outline-info">Edit Package</button>
            <button (click)="onClickDeployFormPostFact()" class="btn btn-small btn-outline-info">Add Fact</button>
            <ul *ngIf="factsDTOMap[package.id]">
                <li *ngFor="let fact of factsDTOMap[package.id]">{{ fact.id }}: {{ fact.fact }}</li>
            </ul>
            <form (ngSubmit)="onSubmitPut(package.id)" #learningPackageForm="ngForm" *ngIf="showFormPut">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" class="form-control" required [(ngModel)]="newPackage.name" name="name" #name="ngModel">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" id="description" class="form-control" required [(ngModel)]="newPackage.description" name="description" #description="ngModel">
                <div></div>
                </div>
                <div class="form-group">
                    <label for="category">Category:</label>
                    <input type="text" id="category" class="form-control" required [(ngModel)]="newPackage.category" name="category" #category="ngModel">
                </div>
                <div class="form-group">
                    <label for="targetaudience">Target Audience:</label>
                    <input type="text" id="targetaudience" class="form-control" required [(ngModel)]="newPackage.targetAudience" name="targetaudience" #targetaudience="ngModel">
                </div>
                <div class="form-group">
                    <label for="difficultylevel">Difficulty Level:</label>
                    <input type="number" id="difficultylevel" class="form-control" required [(ngModel)]="newPackage.difficultyLevel" name="difficultylevel" #difficultylevel="ngModel">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!learningPackageForm.form.valid">Edit Package</button>
            </form>
            <form (ngSubmit)="onSubmitPostFact(package.id)" #learningFactForm="ngForm" *ngIf="showFormPostFact">
                <div class="form-group">
                    <label for="fact">Fact:</label>
                    <input type="text" id="fact" class="form-control" required [(ngModel)]="newFact.fact" name="fact" #fact="ngModel">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!learningFactForm.form.valid">Add Fact</button>
            </form>
        </li>
    </ul>
    <button (click)="onClickReloadModel()" class="btn btn-small btn-outline-info">Load Learning Packages Model Refractor</button>
    <ul>
        <li *ngFor="let package of packagesModel">
            id: {{ package.id }}<br/>
            Name: {{ package.name }}<br/>
            Description: {{ package.description }}<br/>
            Category: {{ package.category }}<br/>
            Target Audience: {{ package.targetAudience }}<br/>
            Difficulty Level: {{ package.difficultyLevel }}<br/>
            <button (click)="onClickReloadFactModel(package.id)" class="btn btn-small btn-outline-info">Load Learning Facts Model</button>
            <ul *ngIf="factsModelMap[package.id]">
                <li *ngFor="let fact of factsModelMap[package.id]">{{ fact.id }}: {{ fact.fact }}</li>
            </ul>
            <button (click)="onClickDeployFormPut()" class="btn btn-small btn-outline-info">Edit Package</button>
            <form (ngSubmit)="onSubmitPut(package.id)" #learningPackageForm="ngForm" *ngIf="showFormPut">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" class="form-control" required [(ngModel)]="newPackage.name" name="name" #name="ngModel">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="text" id="description" class="form-control" required [(ngModel)]="newPackage.description" name="description" #description="ngModel">
                <div></div>
                </div>
                <div class="form-group">
                    <label for="category">Category:</label>
                    <input type="text" id="category" class="form-control" required [(ngModel)]="newPackage.category" name="category" #category="ngModel">
                </div>
                <div class="form-group">
                    <label for="targetaudience">Target Audience:</label>
                    <input type="text" id="targetaudience" class="form-control" required [(ngModel)]="newPackage.targetAudience" name="targetaudience" #targetaudience="ngModel">
                </div>
                <div class="form-group">
                    <label for="difficultylevel">Difficulty Level:</label>
                    <input type="number" id="difficultylevel" class="form-control" required [(ngModel)]="newPackage.difficultyLevel" name="difficultylevel" #difficultylevel="ngModel">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!learningPackageForm.form.valid">Edit Package</button>
            </form>
        </li>
    </ul>
    <button (click)="onClickDeployFormPost()" class="btn btn-small btn-outline-info">New Package</button>
    <form (ngSubmit)="onSubmitPost()" #learningPackageForm="ngForm" *ngIf="showFormPost">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" class="form-control" required [(ngModel)]="newPackage.name" name="name" #name="ngModel">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" class="form-control" required [(ngModel)]="newPackage.description" name="description" #description="ngModel">
        <div></div>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <input type="text" id="category" class="form-control" required [(ngModel)]="newPackage.category" name="category" #category="ngModel">
        </div>
        <div class="form-group">
            <label for="targetaudience">Target Audience:</label>
            <input type="text" id="targetaudience" class="form-control" required [(ngModel)]="newPackage.targetAudience" name="targetaudience" #targetaudience="ngModel">
        </div>
        <div class="form-group">
            <label for="difficultylevel">Difficulty Level:</label>
            <input type="number" id="difficultylevel" class="form-control" required [(ngModel)]="newPackage.difficultyLevel" name="difficultylevel" #difficultylevel="ngModel">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!learningPackageForm.form.valid">Add Package</button>
    </form>
</div>
