<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #0a0a3a;">
    <a class="navbar-brand" routerLink="/" style="color: white; font-family: 'Roboto', sans-serif; font-weight: 600;">
        <fa-icon [icon]="faHome" style="color: white;"></fa-icon> Home
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/products" style="color: white; font-family: 'Roboto', sans-serif; font-weight: 600;">Products</a>
        </li>
    </ul>
    <ul class="navbar-nav position-absolute" style="right: 0; margin-right: 20px;">
        <li class="nav-item" *ngIf="isLoggedIn()" ngbDropdown>
            <a ngbDropdownToggle class="nav-link dropdown-toggle" role="button" placement="top-end" style="color: white; font-family: 'Roboto', sans-serif; font-weight: 600;">
                {{ this.user?.name }}
            </a>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" style="right: 0; left: auto;">
                <button class="dropdown-item" (click)="goToProfile()">Profile</button>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
            <a class="nav-link" routerLink="/login-or-register" style="color: white; font-family: 'Roboto', sans-serif; font-weight: 600;">Login/Register</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
